<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mctbl.ledger.mapper.BillMapper">
    
    <select id="getUserBills">
        SELECT 
            `id`, `user_id`, `category_id`, `amount`, `bill_date`, `bill_description`
        FROM `bill`
        WHERE user_id = #{userId}
        <if test="categoryId != null">
            AND `category_id` = #{categoryId}
        </if>
        <if test="year != null">
        	AND YEAR(`bill_date`) = #{year}
        </if>
        <if test="month != null">
        	AND MONTH(`bill_date`) = #{month}
        </if>
        ORDER BY `bill_date`
    </select>

</mapper>